:root {
  --color-light-blue-1: #edf7ff;
  --color-light-blue-2: #b5dcfe;

  --color-memo-default: rgb(239, 253, 255);
  --color-memo-red: #ffdbdb;
  --color-memo-yellow: #feffe2;
  --color-memo-green: #d7f4e1;
  --color-memo-blue: #deefff;
  --color-memo-purple: rgb(245, 235, 255);
  --color-memo-gray: #eee;
}
